body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

section {
  padding-top: 10px;
}

nav {
  color: black;
  padding:5px;
  transition: all 1s;
  background-color:white;
  border-bottom: 1px solid black;
  shadow-bottom: 5px; 

}

.nav-color {
  background-color: white;
  color: white;
  border-bottom:none;
}

.navbar-brand {
  color: green;
}

/* .navbar-brand:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.navbar-brand:hover:after {
  width: 50%%;
  color: #000000;
}

@media (max-width: 991.98px) {
  .navbar-brand:hover:after {
    width: 20%;
    color: #000000;
  }
}  */

nav .navbar-nav a {
  color: grey;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

nav .navbar-nav a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

nav .navbar-nav a:hover:after {
  width: 99%;
  color: #000000;
}

@media (max-width: 991.98px) {
  nav .navbar-nav a:hover:after {
    width: 20%;
    color: #000000;
  }
}

.kelas {
  padding-top: 90px;
  padding-bottom: 240px;

}

.kelas h1 {
  font-size: 100px;
  color: green;
}


.kelas p {
  font-size: 18px;
}

.kelas h6 {
  padding-bottom: 40px;
}

.btn-baca {
  width: 270px;
  text-align: center;
  letter-spacing: 1px;
  background-color: green;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
  box-shadow: 0px 0px 5px, 0px 0px 10px #858585;
}

.btn-baca:hover {
  color: green;
  background-color: transparent;
  transform: scale(1.2);
  text-shadow: none;
  cursor: pointer;
  transition: all 0.4 ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  z-index: 2;
}

.btn-ganjil {
  width: 270px;
  text-align: center;
  letter-spacing: 1px;
  background-color: white;
  color: green;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
  box-shadow: 0px 0px 5px green, 0px 0px 10px #858585;
}

.btn-ganjil:hover {
  color: black;
  background-color: transparent;
  transform: scale(1.2);
  text-shadow: none;
  cursor: pointer;
  transition: all 0.4 ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  z-index: 2;
}

.btn-genap {
  width: 270px;
  text-align: center;
  letter-spacing: 1px;
  background-color: green;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
  box-shadow: 0px 0px 5px , 0px 0px 10px #858585;
}

.btn-genap:hover {
  color: green;
  background-color: transparent;
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.4 ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  z-index: 2;
}

.jadwal {
  padding-top: 130px;
  padding-bottom: 90 px;
}

.jadwal h3 {
  text-align: center;
  color: ;
  padding-bottom: 20px;
  padding-top: 30px;
  font-size:27px;
}

.jadwal h4 {
  text-align: center;
  padding-top: 30px;
  font-size: 27px;
  padding-bottom: 20px;
}

.ho:hover {
  text-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4 ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale (1.1);
  z-index: 2;
  background-color: #2a2a2a;
  color: white;
}

container.minggu-ganjil ul.btn {
  background-color: black;
}

#clock {
  font-size: 13px;
  color: #fff;
  padding: 10px;
  margin: 5px;
  width: 115px;
  background-color: rgb(54, 52, 52);
  border-radius: 10px;
  top: 5px;
  right: 610px;
}

@media (max-width: 991.98px) {
  #clock {
    left: 45%;
  }
}
@media (min-width: 991.98px) {
  #clock {
    left: 45%;
  }
}

@media (max-width: 482px) {
  #clock {
    left: 45%;

  }
}

@media (max-width: 380px) {
  #clock {
    left: 49%;
    width: 100px;
    font-size:10px;
  }
}

@media (max-width: 320px) {
  #clock {
    left: 54%;
    width: 60px;
    font-size:8px;
  }
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 300px;
  height: 300px;
  background: url(/assets/img/preloader.gif) no-repeat center center;
  animation: loading 0.75s ease infinite;
}



.member {
  padding-bottom:100px;
}

.member .row {

}
.member h2{
  padding-bottom:40px;
  font-size:45px;
}
.member h1 {
  font-size: 35px;
  color:green;
}

.member h6{
  font-size:18px; 
}

.member p {
  font-size:15px; 
  color: #696969;
}
.member .text-abi {
  padding-right: 150px;
}

.member .image-abi {
}

@media (max-width: 991.98px){
.member .content {
    padding-top: 15px;
}
}
@media (max-width: 991.98px) {
  .member .text-abi {
    padding-right:0px;
   }
  .member .image-etik:padding-top: 50px;

  .member .content {
    padding-top:40px;
    background-color:black;
  }

  @media (min-width: 768px){
  .member .content {
      padding-top: 40px;
  }
}
}
@media (min-width: 991.98px) {
 .member .image-abi {
  padding-left:0px;
  
 }
 .member .content {
  padding-top:40px;

}

 .member .text-abi {
  padding-right:0px;
 }
}

@media (min-width: 768px) {
  .member .text-abi {
    padding-right:0px;
   }
  .member .image-etik:padding-top: 50px;

  .member .col-md-6 {
    padding-top:40px;
  }

  .member .col-md-5 {
    padding-left:50px;
  }
 
}
@media (max-width: 482px) {

  .member .content {
    padding-top:20px;
  }
  .member .text-abi {
    padding-right:0px;
   }
  .member .img-abi {
    padding-left:13px;
   }

  .member {
    padding-bottom:1px;
  }
  .member h2{
    font-size:35px;
  }
  .member h1 {
    font-size:30px;
  }
  .member h6{
    font-size:16px;
  }

  .member p {
    font-size:12px;
  }
}

.intro {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 1s;
  /* opacity: 0; */
}
.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size:40px;
  display: flex;
}

.logo-second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
  display: flex;
  font-size:30px;
}

@media (max-width: 1280px) {
  .logo-header .logo-span {
    font-size:40px;
    left:20px;
  }
  
  .logo-second .logo-span {
    font-size:35px;
    left:25px;
    top:-15px;
  }
}

@media (max-width: 834px) {
  .logo-header .logo-span {
    font-size:40px;
  }
  
  .logo-second .logo-span {
    font-size:35px;
    left:10px;
    top:-40px;
  }
}

@media (max-width: 589px) {
  .logo-header .logo-span {
    font-size:35px;
  }
  
  .logo-second .logo-span {
    font-size:25px;
    top:-7x;
  }
}

@media (max-width: 494px) {
  .logo-header .logo-span {
    font-size:30px;
  }
  
  .logo-second .logo-span {
    font-size:21px;
    left:10px;
    top:-20px;
  }
}

@media (max-width: 419px) {
  .logo-header .logo-span {
    font-size:30px;
  }
  
  .logo-second .logo-span {
    font-size:20px;
    left:10px;
  }
}

@media (max-width: 410px) {
  .logo-header .logo-span {
    font-size:28px;
    left:12px;
  }
  
  .logo-second .logo-span {
    font-size:18px;
    left:10px;
    top:-35px;
  }
}

@media (max-width: 320px) {
  .logo-header .logo-span {
    font-size:28px;
    left:12px;
  }
  
  .logo-second .logo-span {
    font-size:15px;
    left:10px;
    top:-15px;
  }
}

.logo-span {
  position: relative;
  bottom: -20px;
  opacity: 0;
  margin: 0;
}
.dots {
  display: flex;
  justify-content: flex-start;
  margin: 0 5px;
}
.dot:first-child {
  margin-right: 5px;
  animation: loading-dots 10s 10s infinite;
}
.dot:nth-child(2) {
  margin-right: 5px;
  animation: loading-dots 10s 10s infinite;
}
.dot:nth-child(3) {
  margin-right: 5px;
  animation: loading-dots 10s 10s infinite;
}
.logo-span.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.15s;
}
.logo-span.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

@keyframes loading-dots {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.bi-moon{
  cursor: pointer;
  position: fixed;
  top: 10%;
  padding-bottom:14px;
  transform: translate(-50%, -50%);
  color:black;

}
.bi-brightness-high-fill{
  cursor: pointer;
  position: fixed;
  top: 10%;
  padding-bottom:14px;
  transform: translate(-50%, -50%);
  color:black;

}

.siswa .absen {
  font-size:20px;
  width:400px;
}

@media (max-width: 524px) {
  .siswa .absen {
    font-size:17px;
    width:350px;
  }
}

@media (max-width: 429px) {
  .siswa .absen {
    font-size:15px;
    width:300px;
    top:0px;
  }
}

.introduction {
  background-color:#24292e;
  padding-top:40px;
  color:white;
}

.member {
}

.jadwal {
  padding-top:60px;
  background-color:#24292e;
    color:white;
}

.introduction h5 {
  padding-bottom:40px;
}

footer {
  background-color : #121212;
  color:white;
}

footer h6 {
  color:green;
}

footer br {
  margin: 1rem 0;
  color: white;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}
footer p {
  color:white;
  font-size:12px;
  margin:0;
}